<form method="get" action="/quizes">
  <input type="text" name="search" />
  <input type="submit" value="Buscar" />
</form>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td>
      <% var temaux = "Otro";
         if (quizes[i].tema == "humanidades") {
            temaux= "Humanidades";
         } else if (quizes[i].tema == "ocio") {
            temaux= "Ocio";
         } else if (quizes[i].tema == "ciencia") {
            temaux= "Ciencia";
         } else if (quizes[i].tema == "tecnologia") {
            temaux= "Tecnología";
         }
      %>
      <a href="quizes/<%= quizes[i].id %>"><%=temaux%>: <%= quizes[i].pregunta %></a></td>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
      <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            borrar
          </button>
        </form>
      </td>
    </tr>
<% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
